* {margin: 0;
padding: 0;
box-sizing: border-box;}

body {background-image: url(fondo-flex.jpg);
    width: 90vh;
    height: 100px;
background-size: cover;}

.principal {margin-top: 330px;
width: 1200px;}

.one {display: flex;
justify-content: space-around;}

.two {display: flex;
justify-content: space-between;}

.tree {display: flex;
justify-content: center;}